.playHeader {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
}
.numCorrect {
  margin-left: 55px;
  font-weight: 700;
}
.questionHeader {
  color: rgb(152, 219, 76);
  font-weight: 400;
  font-size: 25px;
}
.optionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}